<div class="left">
  <h1>Conversations</h1>
  <div id="conversations">
    <%= render 'shared/conversations' %>
  </div>
</div>

<div class="right">
  <h1>Messages with <%= @conversation.lead.first_name + " " + @conversation.lead.last_name %> 
  </h1>
  <div id="messages" data-conversation-id="<%= @conversation.id %>">
    <%= render @messages %>
  </div>
  <%= render 'conversations/messages/message_form' %>
</div>