<%= form_for(representative) do |f| %>
  <% if representative.errors.any? %>
   <% representative.errors.full_messages.each do |error| %>
   <%= alert_generator error %>
  <% end %>
<% end %>

  <div class="form-group">
    <%= f.text_area :email, class: 'form-control', placeholder: 'email' %>
  </div>

  <div class="form-group">
    <%= f.text_area :first_name, class: 'form-control', placeholder: 'first name' %>
  </div>

  <div class="form-group">
    <%= f.text_area :last_name, class: 'form-control', placeholder: 'last name' %>
  </div>

  <div class="form-group">
    <%= f.text_area :phone, class: 'form-control', placeholder: 'phone number' %>
  </div>

  <div class="form-group">
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", placeholder: 'password' %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: 'phone number' %>
  </div>

  <%= f.submit 'Create ', class: 'btn btn-primary' %>

<% end %>